.companies {
  width: 100%;
  margin: 20px 0;

  .companies_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .companies_logos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 5rem;

      img {
        margin: 0 1rem;

        &:nth-child(1) {
          width: 150px;
          height: 130px;
        }
        &:nth-child(2) {
          width: 120px;
          height: 35px;
        }
        &:nth-child(3) {
          width: 100px;
          height: 60px;
        }
        &:nth-child(4) {
          width: 100px;
          height: 60px;
        }
        &:nth-child(5) {
          width: 130px;
          height: 60px;
        }
        &:nth-child(6) {
          width: 100px;
          height: 60px;
        }
      }
    }

    .companies_line {
      width: 70%;
      height: 0.5px;
      background-color: #e0e0e0;
      border-end-end-radius: 10px;
      border-end-start-radius: 10px;
      margin: 50px 0;
    }
  }
}
