.hero {
  height: 100vh;
  min-width: 100%;

  .hero_container {
    width: 100%;
    height: 80vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.8)
      ),
      url("../../assets/Hero.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    .hero_title {
      color: var(--white-color);
      font-size: 3.3rem;
      font-weight: 600;
    }

    .hero_subtitle {
      color: var(--white-color);
      font-weight: 400;
    }

    .hero_btn {
      margin-top: 1rem;
      padding: 0.6rem 1.2rem;
      border-radius: 5px;
      background-color: var(--primary-color);
      color: var(--white-color);
      font-size: 1rem;
      font-weight: var(--font-thin);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
  }
}
