.display-dashboard {
  margin: 50px 20px;

  .display-dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .display-dashboard-content {
      width: 97%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .display-dashboard-content-item {
        width: 28%;
        height: 150px;
        margin: 10px 0;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:nth-child(1) {
          background-color: #d6eef9;
        }

        &:nth-child(2) {
          background-color: #eefea1;
        }

        &:nth-child(3) {
          background-color: #e9dcff;
        }

        &:hover {
          transform: translateY(-10px);
        }

        .display-dashboard-content-item-header {
          font-size: 1.3rem;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          font-family: var(--font-secondary);

          i {
            color: var(--primary-color);
          }
        }

        p {
          font-size: 1.2rem;
          font-weight: 500;
          font-family: var(--font-secondary);
        }
      }
    }
  }
}
