.update-product {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .top_side {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    h2 {
      font-size: 1.8rem;
      font-weight: 800;
      font-family: var(--font-secondary);
      letter-spacing: 0.5px;
      color: var(--primary-color);
    }

    button {
      width: 180px;
      height: 42px;
      border: none;
      border-radius: 15px;
      background-color: var(--primary-color);
      color: var(--white-color);
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;

    .form-group-stock-price {
      display: flex;
      justify-content: space-between;
      width: 100%;
      column-gap: 10px;

      .form-group {
        width: 48%;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;
      width: 100%;
      margin-top: 5px;

      label {
        font-size: 0.9rem;
        font-weight: 500;
      }

      .input-strings {
        width: 100%;
        height: 40px;
        border: 1px solid #e3e3e3;
        padding: 0 10px;
        border-radius: 5px;
        font-size: 1rem;

        &:focus {
          outline: 2px solid var(--primary-color-light);
          box-shadow: 0 0 5px var(--primary-color-light);
        }
      }

      .input-image {
        width: 100%;
        height: 40px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        font-size: 1rem;

        &[type="file"] {
          &::file-selector-button {
            height: 40px;
            margin-right: 10px;
            border: none;
            background: var(--primary-color);
            padding: 8px 12px;
            font-size: 15px;
            font-family: var(--font-secondary);
            color: #fff;
            cursor: pointer;

            &:hover {
              background: var(--primary-color-dark);
            }
          }
        }
      }

      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        font-size: 1rem;

        &:focus {
          outline: 2px solid var(--primary-color-light);
          box-shadow: 0 0 5px var(--primary-color-light);
        }
      }

      select {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border-radius: 5px;
        font-size: 15px;
        font-family: var(--font-secondary);
        cursor: pointer;
        outline: none;
        border: none;

        &:focus {
          outline: 2px solid var(--primary-color-light);
          box-shadow: 0 0 5px var(--primary-color-light);
        }
      }
    }

    button {
      width: 100%;
      height: 42px;
      margin-top: 15px;
      background-color: var(--primary-color);
      color: #fff;
      font-size: 1.1rem;
      font-weight: 500;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
  }
}
