/*----FONTS-----*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*-----COLORS------*/
  --primary-color: #464e34;
  --primary-color-light: #6b7a5f;
  --primary-color-dark: #2e3623;
  --black-color: #1a1a1a;
  --white-color: #ffffff;
  --grey-color: #f5f5f5;
  --grey-color-light: #f8f9fa;
  --grey-color-dark: #343a40;
  --bg-white-color: #f0f0f0;

  /*-----FONT-Familly------*/
  --font-primary: "Rubik", sans-serif;
  --font-secondary: "Ubuntu", sans-serif;

  /*-----FONT-WEIGHT------*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /*-----FONT-SIZE------*/
  --h1: 3.2em;
  --h2: 2.8em;
  --h3: 2.4em;
  --h4: 2em;
  --h5: 1.6em;
  --h6: 1.4em;
  --p: 1em;

  /*-----SPACING------*/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  font-size: var(--p);
  color: var(--black-color);
  background-color: var(--bg-white-color);
  height: 11000vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--h1);
  font-weight: var(--font-bold);
}

button {
  font-family: var(--font-primary);
  font-size: var(--p);
  font-weight: var(--font-medium);
  cursor: pointer;
  border: none;
  outline: none;
}
